

.sign-in-and-sign-up{
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
background-image: url("https://media.istockphoto.com/photos/large-leaf-house-plant-monstera-deliciosa-in-a-gray-pot-on-a-white-picture-id1310577216?b=1&k=20&m=1310577216&s=170667a&w=0&h=4SJ0-gaK5SSQhPCEO4_R3OK0PxfDPU_rvxBkTfLgPDI=");    
  background-size: cover;
  height: 100%;
}